doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css')
    style(type="text/css").
      a, #atag {color: blue;}
      a:hover, #atag:hover {text-decoration: none; color: #333;}
      #navList {padding: 15px}
      #mat {border: 1px solid; padding: 10px; text-align: center;}
    block title

  body
    block content
